menu: [
  {
    label: 'Packages'
    submenu: [
      {
        label: '&Tool Bar'
        submenu: [
          { label: '&Toggle', command: 'tool-bar:toggle' }
          {
            label: '&Position',
            submenu: [
              { label: 'Top', command: 'tool-bar:position-top', type: 'radio' }
              { label: 'Right', command: 'tool-bar:position-right', type: 'radio' }
              { label: 'Bottom', command: 'tool-bar:position-bottom', type: 'radio' }
              { label: 'Left', command: 'tool-bar:position-left', type: 'radio' }
            ]
          }
        ]
      }
    ]
  }
],
'context-menu': {
  '.tool-bar': [
    { label: '&Hide Tool Bar', command: 'tool-bar:toggle' }
    {
      label: '&Position',
      submenu: [
        { label: 'Top', command: 'tool-bar:position-top' }
        { label: 'Right', command: 'tool-bar:position-right' }
        { label: 'Bottom', command: 'tool-bar:position-bottom' }
        { label: 'Left', command: 'tool-bar:position-left' }
      ]
    }
  ]
}
