menu: [
  {
    label: 'View'
    submenu: [
      {
        label: '工具栏', command: 'tool-bar:toggle'
        submenu: [
          { label: '隐藏/显示', command: 'tool-bar:toggle' }
          { label: '顶部', command: 'tool-bar:position-top' }
          { label: '右侧', command: 'tool-bar:position-right' }
          { label: '底部', command: 'tool-bar:position-bottom' }
          { label: '左侧', command: 'tool-bar:position-left' }
        ]
      }
    ]
  }
],
'context-menu': {
  '.tool-bar': [
    { label: '&隐藏工具条', command: 'tool-bar:toggle' }
    {
      label: '&工具条位置',
      submenu: [
        { label: '顶部', command: 'tool-bar:position-top' }
        { label: '右侧', command: 'tool-bar:position-right' }
        { label: '底部', command: 'tool-bar:position-bottom' }
        { label: '左侧', command: 'tool-bar:position-left' }
      ]
    }
  ]
}
